body {
    padding: 40px;
}
table {
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;

}
th {
    border: 1px solid black;
    padding: 5px;
}
td {
    border: 1px solid black;
    padding: 5px;
}